* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

h1 {
    border: 2px dashed rebeccapurple;
    width: 50%;
    font-size: 3rem;
    padding: 0.3em;
}

p {
    font-size: 2rem;
    width: 40ch; /*40 characters per line*/
    margin: 1rem;
}